IMPORTING OF LIBRARIES

In [1]:
#importing of libraries
import pandas as pd
import numpy as np
import os

Different ways of reaching a result of 100 by adding or subtracting numeric variables

In [12]:
a = 500
b = 400
Result1 = a-b
print(Result)

100

In [8]:
#2
c = 50
d = 50
Result2 = c+d
print (Result2)

100

In [11]:
#3
e = 40
f = 60
Result3 = e+f
print (Result3)

100

Code 2 floating-point variables and divide them by each other.

In [13]:

Height = 10.54
Weight = 54.34
Result4 = Height/Weight
print (Result4)

0.19396393080603605

Construct a short word made of separate strings (youâ€™ll need to concatenate some strings!).

In [16]:
F = 'Wellcome to '
G = 'Germany '
Result6 = F+G
print (Result6)

Wellcome to Germany

Construct 2 short sentences made of separate strings

In [17]:
k = 'I am from Africa and  '
v = 'Nigeria is the most populous black nation '
Result6 = k+v
print (Result6)

I am from Africa and  Nigeria is the most populous black nation

Bonus Task

At the bottom of your file, include a command that makes a string appear 100 times.

In [19]:
y = 'IPHONE'
Result10 = y * 100

print (Result10)

IPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONEIPHONE