###   Contents
##### 1.0 Importing Libraries
##### 2.0 Importing Dataframe (df_prods_clean_no_dups4.5.csv)
##### 3.0 Importing orders_products_combined.pki dataframe (pickle)
##### 4.0 Merging the imported dataframe

### 1.0  Importing Libraries

In [1]:
import pandas as pd
import numpy  as np
import os

### 2.0 Importing Dataframe (df_prods_clean_no_dups4.5.csv)

In [3]:
# 2.0 Importing dataframe
df_prods_clean = pd.read_csv('/Users/shaqurcasco/Downloads/ Instacart Basket June: 26: 2023 CF/2 DATA/PREPARED_DATA/df_prods_clean_no_dups4.5.csv', index_col = False)

In [5]:
#checking the columns and rows of the dataframe
df_prods_clean.shape

(49672, 6)

### 3.0  Importing orders_products_combined.pki dataframe (pickle)

In [6]:
#Importing orders_products_combined.pki dataframe
df_ords_prods_combined = pd.read_pickle('/Users/shaqurcasco/Downloads/ Instacart Basket June: 26: 2023 CF/2 DATA/PREPARED_DATA/orders_products_combined.pkl')

In [7]:
# checking the number of columns and rows
df_ords_prods_combined.shape

(32434489, 11)

##### I ENCOUNTERED PROPLEM WHEN MERGING, SO I DECIDE TO DROP THE (_MERGE), THEN AFTERWARD THE MERGING WORKKS FINE

In [8]:
# droping the merge flag (_merge)
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [9]:
df_ords_prods_combined.head(3)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0

### 4.0 Merging the imported dataframe

In [10]:
# merging the 2 dataframe using there common keys (product_id)
df_merged = df_ords_prods_combined.merge(df_prods_clean, on = 'product_id', indicator = True)

In [11]:
df_merged.head(2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both

In [17]:
# passing the df_merged as df_orders_products_merged
df_orders_products_merged = df_merged

In [26]:
df_orders_products_merged.head(2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both

In [27]:
#dropping th column Unnamed: 0
df_orders_products_merged = df_orders_products_merged.drop(columns = ['Unnamed: 0'])

In [29]:
df_orders_products_merged.head(2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both

In [30]:
# checking the columning and rows of the meged dataframe
df_orders_products_merged.shape

(32404859, 15)

In [12]:
#Checking the values in the _merge column
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [ ]:
#saving the meged dataframe (df_orders_products_merged) as pickle

In [33]:
df_orders_products_merged.to_pickle(r'/Users/shaqurcasco/Downloads/ Instacart Basket June: 26: 2023 CF/2 DATA/PREPARED_DATA/df_orders_products_merged.pkl')